<a href="https://colab.research.google.com/github/ErnestoFCh/SQL/blob/main/Funciones_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#`COUNT()`
Se utiliza para contar el número de filas que coinciden con un criterio en una consulta. Es muy útil para obtener el tamaño de un conjunto de resultados.

`COUNT(*)`: Cuenta todas las filas en la tabla o el conjunto de resultados, sin importar si contienen valores nulos.
```
  SELECT COUNT(*) FROM empleados;
```
`COUNT(columna)` : Cuenta solo las filas donde la columna especificada no es NULL.
```
  SELECT COUNT(salario) FROM empleados;
```
`COUNT(DISTINCT columna)`: Cuenta el número de valores DISTINTOS en la columna, excluyendo los valores nulos.
```
  SELECT COUNT(DISTINCT departamento) FROM empleados;
```

#`AVG()`
Se utiliza para calcular el promedio de los valores en una columna numérica. Al igual que COUNT, ignora los valores NULL en la columna sobre la que se aplica.

**Promedio de una columna numérica:**
```
  SELECT AVG(salario) FROM empleados;
```

**Uso con** `GROUP BY`:
Se puede combinar `AVG` con `GROUP BY` para obtener promedios por grupos específicos.
```
SELECT
  departamento,
  AVG(salario)
FROM
  empleados
GROUP BY
  departamento;
```

#`STRFTIME()`
Permite convertir y extraer partes específicas de una fecha o una hora en función de un formato que tú defines.

**Sintaxis general:**
```
strftime(formato, fecha)

```
- `formato`: Especifica el formato en el que deseas que se muestre la fecha u hora. Usa patrones de formato para extraer partes específicas como el año, mes, día, etc.
- `fecha`: Es la fecha u hora que deseas formatear o modificar.

**Obtener el año de una fecha:**
```
SELECT strftime('%Y', '2024-10-12');
```
**Obtener el mes:**
```
SELECT strftime('%m', '2024-10-12');
```
Esto devuelve: 10. El formato %m extrae el mes (en formato de dos dígitos).

**Obtener el día de la semana:**
```
SELECT strftime('%w', '2024-10-12');
```
Esto devuelve: 6. El formato %w devuelve un número que representa el día de la semana, siendo 0 el domingo y 6 el sábado.

**Obtener la hora y minutos:**
```
SELECT strftime('%H:%M', '2024-10-12 14:30:00');
```
Algunos patrones comunes de `strftime`:

- `%Y`: Año completo (ej. 2024)
- `%m`: Mes (01-12)
- `%d`: Día  (01-31)
- `%H`: Hora en formato 24 horas (00-23)
- `%M`: Minutos (00-59)
- `%S`: Segundos (00-59)
- `%w`: Día de la semana (0-6, 0 es domingo)
- `%j`: Día del año (001-366)

#`MAX()`
Se utiliza para obtener el valor máximo de una columna en un conjunto de resultados. Es una función agregada que puede aplicarse tanto a datos numéricos como a datos de tipo fecha, e incluso a cadenas de texto, dependiendo del contexto y el tipo de datos de la columna.

**Valor máximo en una columna numérica:**
```
SELECT MAX(salario) FROM empleados;
```
**Máxima fecha:**
```
SELECT MAX(fecha_contratacion) FROM empleados;
```
Esto devuelve la fecha más reciente de contratación en la columna `fecha_contratacion`.

**Valor máximo en una columna de texto:**
```
SELECT MAX(nombre) FROM empleados;
```
En este caso, MAX devolverá el último nombre en orden alfabético según el ordenamiento ASCII. Las cadenas se comparan de forma lexicográfica.

**Uso con `GROUP BY`**
```
SELECT
  departamento,
  MAX(salario)
FROM
  empleados
GROUP BY
  departamento;
```
Esto devolverá el salario más alto en cada departamento.

**Valores** *NULL*: MAX ignora los valores *NULL*, por lo que solo tiene en cuenta los valores válidos.

#`MIN()`
Es el opuesto de `MAX`.

**Valor mínimo en una columna numérica:**
```
SELECT MIN(salario) FROM empleados;

```
**Fecha más antigua:**

```
SELECT MIN(fecha_contratacion) FROM empleados;
```

**Valor mínimo en una columna de texto:**

```
SELECT MIN(nombre) FROM empleados;
```
devolverá el primer nombre en orden alfabético según el ordenamiento ASCII. Las cadenas se comparan de forma lexicográfica.

#`IFNULL()`
Se utiliza para reemplazar valores NULL por un valor predeterminado que tú especificas. Es una forma de asegurarse de que las consultas no devuelvan NULL en casos donde ese valor no es deseado.

**Sintaxis**:
```
IFNULL(expresion, valor_por_defecto)
```
`expresion`: Es el valor que se evaluará. Si este es `NULL`, será reemplazado por `valor_por_defecto`.

**Reemplazar valores NULL en una consulta simple:**


```
SELECT IFNULL(salario, 0) FROM empleados;
```

**Uso en concatenación de cadenas:**

```
SELECT IFNULL(nombre, 'Sin nombre') FROM empleados;

```
Si la columna `nombre` tiene un valor `NULL`, se devolverá `'Sin nombre'`.